# Vehicle monitor service
type vms, domain, coredomain;
type vms_exec, exec_type, vendor_file_type, file_type;

allow vms system_app:binder { call };
allow vms car_service:service_manager { add };
allow vms priv_app:binder { call };

init_daemon_domain(vms)
